**Prof: [Aaren Stubberfield](https://www.datacamp.com/instructors/stubberf)**

---

# Joining Data with pandas

## Data Merging Basics

- ### Inner join
Pandas es una poderosa herramienta para manipulary transformar datos

```
Tables = Dataframes
Merging = Joning
```

<img src="https://i.ibb.co/9y3ZHHp/Selecci-n-022.png" alt="Selecci-n-022" border="0">

Para combinar datos y controlar los sufijos
    

<img src="https://i.ibb.co/DWLRWbQ/Selecci-n-023.png" alt="Selecci-n-023" border="0">

- ### One-to-many relationships
Relaciones de uno a varios

<img src="https://i.ibb.co/BLZ2m7z/Selecci-n-024.png" alt="Selecci-n-024" border="0">

---
<img src="https://i.ibb.co/19nwBpL/Selecci-n-026.png" alt="Selecci-n-026" border="0">

**NOTA:**
Estamos agrupando por title, columna account y mostramos el conteo

> **counted_df = licenses_owners.groupby("title").agg({'account':'count'})**

- ###  Merging multiple DataFrames

  Estructura para juntar mas de 2 base de datos:

<img src="https://i.ibb.co/k9p142G/Selecci-n-030.png" alt="Selecci-n-030" border="0">

In [ ]:
# Merge land_use and census and merge result with licenses including suffixes
land_cen_lic = land_use.merge(census, on='ward') \
                    .merge(licenses, on='ward', suffixes=('_cen','_lic'))

# Group by ward, pop_2010, and vacant, then count the # of accounts
pop_vac_lic = land_cen_lic.groupby(['ward','pop_2010','vacant'], 
                                   as_index=False).agg({'account':'count'})

# Sort pop_vac_lic and print the results
sorted_pop_vac_lic = pop_vac_lic.sort_values(['vacant','account','pop_2010'], 
                                             ascending=[False,True,True])

# Print the top few rows of sorted_pop_vac_lic
print(sorted_pop_vac_lic.head())

## Merging Tables With Different Join Types

- ### Left join
    Combinacion izquierda
    
    Devuelve las fila de los datos de la tabla de la izquierda y solo las filas que coinciden con la tabla de la derecha
    
   <img src="https://i.ibb.co/19pDR7h/Selecci-n-031.png" alt="Selecci-n-031" border="0">
   <img src="https://i.ibb.co/THygRGX/Selecci-n-032.png" alt="Selecci-n-032" border="0">
   <img src="https://i.ibb.co/3Mt8Rz6/Selecci-n-033.png" alt="Selecci-n-033" border="0">

In [ ]:
# Count the number of rows in the budget column that are missing
number_of_missing_fin = movies_financials['budget'].isnull().sum()

In [ ]:
left_table.merge(one_to_one, on='id', how='left').shape

- ### Other joins
    Combinacion izquierda
    
    Devuelve las fila de los datos de la tabla de la izquierda y solo las filas que coinciden con la tabla de la derecha
    <img src="https://i.ibb.co/HGpL1fS/Selecci-n-034.png" alt="Selecci-n-034" border="0">
    <img src="https://i.ibb.co/nMn80zr/Selecci-n-035.png" alt="Selecci-n-035" border="0">
    <img src="https://i.ibb.co/rvg1058/Selecci-n-036.png" alt="Selecci-n-036" border="0">

---

<img src="https://i.ibb.co/GRhHCYY/Selecci-n-037.png" alt="Selecci-n-037" border="0">
<img src="https://i.ibb.co/CmpN11q/Selecci-n-038.png" alt="Selecci-n-038" border="0">
<img src="https://i.ibb.co/stLB1BK/Selecci-n-040.png" alt="Selecci-n-040" border="0">

In [ ]:
# SOLO QUEDARME CON LAS FILAS QUE TENGAN NaN en una columna en especifico
scifi_only = action_scifi[action_scifi['genre_act'].isnull()]

In [ ]:
# Use right join to merge the movie_to_genres and pop_movies tables
genres_movies = movie_to_genres.merge(pop_movies, how='right', 
                                      left_on="movie_id", 
                                      right_on="id")

# Count the number of genres
genre_count = genres_movies.groupby('genre').agg({'id':'count'})

# Plot a bar chart of the genre_count
genre_count.plot(kind='bar')
plt.show()

In [ ]:
# Merge iron_1_actors to iron_2_actors on id with outer join using suffixes
iron_1_and_2 = iron_1_actors.merge(iron_2_actors,
                                     how='outer',
                                     on='id',
                                     suffixes=('_1','_2'))

# Create an index that returns true if name_1 or name_2 are null
m = ((iron_1_and_2['name_1'].isnull()) | 
     (iron_1_and_2['name_2'].isnull()))

# Print the first few rows of iron_1_and_2
print(iron_1_and_2[m].head())

***MOSTRAR LOS DATOS QUE NO TENGAN INTERCEPCION***
<img src="https://i.ibb.co/tHnyYtw/Selecci-n-046.png" alt="Selecci-n-046" border="0">

In [ ]:
# Merge iron_1_actors to iron_2_actors on id with outer join using suffixes
iron_1_and_2 = iron_1_actors.merge(iron_2_actors,
                                     how='outer',
                                     on='id',
                                     suffixes=('_1','_2'))

# Create an index that returns true if name_1 or name_2 are null
m = ((iron_1_and_2['name_1'].isnull()) | 
     (iron_1_and_2['name_2'].isnull()))

# Print the first few rows of iron_1_and_2
print(iron_1_and_2[m].head())

- ### Merging a table to itself
    Union de una misma tabla - AUTOUNION
    
    <img src="https://i.ibb.co/rGKKLDX/Selecci-n-041.png" alt="Selecci-n-041" border="0">
    <img src="https://i.ibb.co/0hsYX0y/Selecci-n-045.png" alt="Selecci-n-045" border="0">

**Â¿CUANDO DEBO FUSIONAR UNA MISMA TABLA?**
Cuando estes trabajando con: 
- Tablas que tengan relacion jerarquica; Por ejemplo: empleado-gerente
- Relaciones secuenciales como movimientos logisticos
- Datos graficos.  Por ejemplo: red de amigos

In [ ]:
# Merge the crews table to itself
crews_self_merged = crews.merge(crews, on='id', how='inner',
                                suffixes=('_dir','_crew'))

# Create a boolean index to select the appropriate rows
boolean_filter = ((crews_self_merged['job_dir'] == 'Director') & 
                  (crews_self_merged['job_crew'] != 'Director'))
direct_crews = crews_self_merged[boolean_filter]

# Print the first few rows of direct_crews
print(direct_crews.head())

- **Merging on indexes**

In [ ]:
# data = pd.read_csv('data.csv',index_col=['id_1','id_2'])

<img src="https://i.ibb.co/h9F9RR5/Selecci-n-047.png" alt="Selecci-n-047" border="0">

In [ ]:
# Merge sequels and financials on index id
sequels_fin = sequels.merge(financials, on='id', how='left')

# Self merge with suffixes as inner join with left on sequel and right on id
orig_seq = sequels_fin.merge(sequels_fin, how='inner', left_on='sequel', 
                             right_on='id', right_index=True,
                             suffixes=('_org','_seq'))

# Add calculation to subtract revenue_org from revenue_seq 
orig_seq['diff'] = orig_seq['revenue_seq'] - orig_seq['revenue_org']

# Select the title_org, title_seq, and diff 
titles_diff = orig_seq[['title_org','title_seq','diff']]

# Print the first rows of the sorted titles_diff
print(titles_diff.sort_values(['diff'],ascending=False).head())

## Advanced Merging and Concatenating

- ### Filtering joins

<img src="https://i.ibb.co/z2k5Pmv/Selecci-n-068.png" alt="Selecci-n-068" border="0">
<img src="https://i.ibb.co/8dCbf1J/Selecci-n-070.png" alt="Selecci-n-070" border="0">

---

<img src="https://i.ibb.co/T4zLGZx/Selecci-n-071.png" alt="Selecci-n-071" border="0">
<img src="https://i.ibb.co/Scwgxms/Selecci-n-076.png" alt="Selecci-n-076" border="0">

- ### Concatenate DataFrames together vertically

In [ ]:
# pd.concat([inv_jan, inv_feb, inv_mar],ignore_index=True)
# pd.concat([inv_jan, inv_feb, inv_mar],ignore_index=False,keys=['jan','feb','mar'])
# pd.concat([inv_jan, inv_feb],sort=True)
# pd.concat([inv_jan, inv_feb],join='inner')



# .append()
#   - Simplied version of the .concat() method
#   - Supports: ignore_index, and sort
#   - Does Not Support: keys and join
#      Always join = outer

# inv_jan.append([inv_feb, inv_mar],ignore_index=True,sort=True)

In [ ]:
# SEMIUNION
# ------------

# Merge the non_mus_tck and top_invoices tables on tid
tracks_invoices = non_mus_tcks.merge(top_invoices, on='tid')

# Use .isin() to subset non_mus_tcks to rows with tid in tracks_invoices
top_tracks = non_mus_tcks[non_mus_tcks['tid'].isin(tracks_invoices['tid'])]

# Group the top_tracks by gid and count the tid rows
cnt_by_gid = top_tracks.groupby(['gid'], as_index=False).agg({'tid':'count'})

# Merge the genres table to cnt_by_gid on gid and print
print(cnt_by_gid.merge(genres, on='gid'))

- ### Concatenate DataFrames together vertically

In [ ]:
q = [22, 41, 14, 41, 39, 15]

In [ ]:
# Concatenate the tables and add keys
inv_jul_thr_sep = pd.concat([inv_jul,inv_aug,inv_sep], 
                            keys=['7Jul','8Aug','9Sep'])

# Group the invoices by the index keys and find avg of the total column
avg_inv_by_month = inv_jul_thr_sep.groupby(level=0).agg({'total':'mean'})

# Bar plot of avg_inv_by_month
avg_inv_by_month.plot(kind="bar") # *******************************************
plt.show()

In [ ]:
# Use the .append() method to combine the tracks tables
metallica_tracks = tracks_ride.append([tracks_master,tracks_st], sort=False)

# Merge metallica_tracks and invoice_items
tracks_invoices = metallica_tracks.merge(invoice_items, on="tid")

# For each tid and name sum the quantity sold
tracks_sold = tracks_invoices.groupby(['tid','name']).agg({'quantity':'sum'})

# Sort in decending order by quantity and print the results
print(tracks_sold.sort_values('quantity', ascending=False))

In [ ]:
artists.merge(albums, on='artid').head()

## Merging Ordered and Time-Series Data